/* contains the footer stylings */
footer{
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    width: fit-content;
}
