/* contains stylings for the places section */
.places h1{
    font-size: 30px;
    text-transform: capitalize;
}

.places div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.places article{
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #FF5A5F;
}

.places article{
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
}
